extends layout

block content
    div.header
        ul.nav
            li #[a(href='#') 新闻]
            li #[a(href='#') hao123]
            li #[a(href='#') 地图]
            li #[a(href='#') 视频]
            li #[a(href='#') 贴吧]
            li #[a(href='#') 学术]
            li #[a(href='#') 登陆]
            li #[a(href='#') 设置]
               div.cai
                   ul.dan
                       li 搜索设置
                       li 高级搜索
                       li 开启预测
                       li 搜索历史

            li #[a(href='#') 更多产品]
     div.logo
         img(src="https://www.baidu.com/img/bd_logo1.png")
     div.int
             div.left
                 input
             div.right 百度一下
     div.ewm
         img(src="images/ewm.png")
         p 手机百度
     div.baidu
         a(href="#") 把百度设为主页
         a(href="#") 关于百度
         a(href="#") About  Baidu
         a(href="#") 百度推广
     div.bq
         &copy;2017 Baidu
         a(href="#") 使用百度前必读 意见反馈 京ICP证030173号
         img(src="images/dw.png")
         a(href="#") 京公网安备11000002000001号
         img(src="images/jh.png")

